<!-- Embryosense Section -->
<section class="site-section section-focus features-section" id="platform">


  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>{{ site.embryosense-title }}</h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content text-justify">
        <p>{{ site.embryosense-description }}</p>
      </div>
    </div>

  </div>
</section>
